@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.container {
  background-color: #505a7e;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container .signup-box {
  width: 370px;
  height: 430px;
  margin: auto;
  background-color: white;
  border-radius: 7px;
}

.container .loginbox {
  width: 360px;
  height: min-content;
  margin: auto;
  text-align: center;
  border-radius: 7px;
  background-color: white;
}
.container .new-box {
  width: 360px;
  height: 230px;
  margin: auto;
  text-align: center;
  border-radius: 7px;
  background-color: white;
}
.container .reset-box {
  width: 360px;
  height: 200px;
  margin: auto;
  text-align: center;
  border-radius: 7px;
}

.container h1 {
  text-align: center;
  padding-top: 20px;
}

.container h4 {
  text-align: center;
}

.container form {
  width: 300px;
  margin: auto;
}

.container label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

.container input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}
.container input[type="button"] {
  margin-top: 20px;
  border: none;
  background-color: #0000FF;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.container input[type="button"]:hover {
  background-color: #0000ffaa;
}
.container p {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 15px;
}

